body {
  font-family: "Montserrat", sans-serif !important;
}

p {
  font-weight: 400 !important;
  font-size: 1rem !important;
}

a {
  font-size: 0.8rem !important;
}

h1,
h2 {
  font-family: "Bebas Neue", sans-serif !important;
}

h1 {
  font-size: 4rem !important;
}

h2 {
  font-size: 1.4rem !important;
}

.leistungenSchrift h2 {
  margin: 5px;
  font-size: 2.6rem !important;
}

h3 {
  font-weight: 400 !important;
  font-size: 1rem !important;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.bg-dark-override {
  background-color: black;
  color: white;
}

/* navbars adresszeile*/
.adresse1 {
  font-weight: 200 !important;
  font-size: 0.8rem !important;
  margin: 0 0 0 0 !important;
  color: white;
}

.durchstreichen:hover {
  text-decoration: line-through !important;
}

/* hero section*/

/*
#hero {
  height: 100%;

  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("./Img/Arbeit-handwerk.jpeg") no-repeat center center fixed;
  background-size: cover;
}*/

.button-dark-override:hover {
  background-color: black;
  color: white;
}

.backgroundSaw {
  background-image: url(./Img/saw-holz.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-dark-override {
  border-radius: 0px;
  padding: 5px 10px 3px 10px;
  margin: none;
  border-color: black;
  background-color: none;
  color: black;
  border-width: 2px;
}

/* Custom CSS for full-height sections */
.section {
  min-height: 100vh; /* Set the minimum height of each section to 100% of viewport height */
}

/* Leistungssection*/
.leistungen {
  display: inline-flex !important;
  margin-bottom: 13px;
}

.iconLeistungen {
  padding: 0 20px 0 0 !important;
  width: 32;
  height: 32;
}

/*Über Uns*/
.bildArbeitMitHolz {
  max-width: 50% !important;
  height: auto !important;
  padding: 25px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: none;
  border-radius: 50%;
}

.überUnsText {
  padding: 20px 0 0 0;
}
